<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>dataArray</key>
			<array>
				<dict>
					<key>price</key>
					<integer>30</integer>
					<key>calories</key>
					<integer>256</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>100</integer>
					<key>name</key>
					<string>红烧肉</string>
					<key>imageURL</key>
					<string>https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1896101398,3761277162&amp;fm=116&amp;gp=0.jpg</string>
				</dict>
				<dict>
					<key>price</key>
					<integer>40</integer>
					<key>calories</key>
					<integer>128</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>80</integer>
					<key>name</key>
					<string>老狼大盘鸡</string>
					<key>imageURL</key>
					<string>http://p1.meituan.net/320.0.a/deal/4fc822f4fad2c13b7b396ef19ff29d8e128617.jpg</string>
				</dict>
				<dict>
					<key>price</key>
					<integer>60</integer>
					<key>calories</key>
					<integer>64</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>60</integer>
					<key>name</key>
					<string>川人百味</string>
					<key>imageURL</key>
					<string></string>
				</dict>
				<dict>
					<key>price</key>
					<integer>30</integer>
					<key>calories</key>
					<integer>540</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>120</integer>
					<key>name</key>
					<string>道礼家食府</string>
					<key>imageURL</key>
					<string></string>
				</dict>
				<dict>
					<key>price</key>
					<integer>100</integer>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>老渔翁烤全鱼</string>
					<key>imageURL</key>
					<string></string>
				</dict>
			</array>
			<key>title</key>
			<string>肉类</string>
		</dict>
		<dict>
			<key>dataArray</key>
			<array>
				<dict>
					<key>calories</key>
					<integer>256</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>100</integer>
					<key>name</key>
					<string>炒青菜</string>
					<key>imageURL</key>
					<string>http://www.027eat.com/uploadfile/2011/1003/20111006124627298.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>128</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>80</integer>
					<key>name</key>
					<string>凉拌苦瓜</string>
					<key>imageURL</key>
					<string>http://img1.gtimg.com/henan/pics/hv1/206/227/1032/67163891.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>64</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>60</integer>
					<key>name</key>
					<string>蚝油香菇青菜</string>
					<key>imageURL</key>
					<string>http://recipe1.hoto.cn/pic/step/m/b1/ed/1961393.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>540</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>120</integer>
					<key>name</key>
					<string>咖喱豆腐</string>
					<key>imageURL</key>
					<string>http://www.xuefo.net/admin/editor/uploadfile/20100901123213001.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>毛豆萝卜干</string>
					<key>imageURL</key>
					<string>http://picm.photophoto.cn/077/161/003/1610031518.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>金玉满堂</string>
					<key>imageURL</key>
					<string>http://static7.photo.sina.com.cn/bmiddle/491b33e2g712d908356b6&amp;690</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>青椒炒香菇</string>
					<key>imageURL</key>
					<string>http://bcs.duapp.com/xiachufangnew/recipe_pic/526/ba/29/1012520.1.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>大盆花菜</string>
					<key>imageURL</key>
					<string>http://upimg.zixun.3158.cn/7/2012/0815/13450331983267.jpg</string>
				</dict>
				<dict>
					<key>calories</key>
					<integer>680</integer>
					<key>number</key>
					<integer>0</integer>
					<key>monthSales</key>
					<integer>200</integer>
					<key>name</key>
					<string>三鲜芦笋</string>
					<key>imageURL</key>
					<string>http://picm.photophoto.cn/077/161/003/1610031960.jpg</string>
				</dict>
			</array>
			<key>title</key>
			<string>素菜</string>
		</dict>
	</array>
	<key>status</key>
	<integer>1</integer>
</dict>
</plist>
